amqp==2.2.2
anyjson==0.3.3
apache-libcloud==2.2.1
appnope==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
billiard==3.5.0.3
bleach==2.1.1
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
configparser==3.5.0
decorator==4.1.2
Django==1.10
django-celery==3.2.2
django-celery-beat==1.1.0
django-celery-results==1.0.1
django-filter==1.1.0
entrypoints==0.2.3
enum34==1.1.6
ephem==3.7.6.0
functools32==3.2.3.post2
graphene==2.0.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
html5lib==1.0b10
idna==2.6
ipykernel==4.6.1
ipython==5.1.0
ipython-genutils==0.2.0
iso8601==0.1.12
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-core==4.4.0
kombu==4.1.0
MarkupSafe==1.0
mistune==0.8.1
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.7.8
pandocfilters==1.4.2
parso==0.1.0
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.3.0
pickleshare==0.7.4
promise==2.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pyzmq==16.0.3
readline==6.2.4.1
requests==2.18.4
Rx==1.6.0
scandir==1.6
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
stevedore==1.28.0
terminado==0.7
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
typing==3.6.2
urllib3==1.22
uWSGI==2.0.15
vine==1.1.4
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
wcwidth==0.1.7
webencodings==0.5.1
